# The overrides directory is meant for per-user overrides of... whatever can
#  sensibly be overridden by files inside of it. So, we should NEVER track it
#  from this project, as the user is expected to do that themselves if desired.
/overrides/
/external_dependencies/
